* {
    border: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
}

.links {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-right: 50px;
}

.header_logo {
    font-weight: bold;
    font-size: 24px;
    padding-left: 50px;
}

.main_text {
    background-color: #1f2937;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    
}

.sign_up_button {
    background-color: #3882f6;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
    
}

.top-image {
    width: 500px;
    margin-left: auto;
    border-radius: 10px;
}

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.main_text_body {
    color: #e5e7eb;
    font-size: 18px;
}

.left_main{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    flex: 1;

}

.random_info {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-one {
    display: flex;
    justify-content: center;
    gap: 25px;

    padding: 25px;
    margin-bottom: 100px;
}

.item-one {
    flex: 1;
}
.item-two {
    flex: 1;
}

.item-three {
    flex: 1;
}
.image-one {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.image-two {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.image-three {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#1f2937;
}

.container-two {
    background-color: #e5e7eb;
    padding: 100px;
}

.speaker {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
    font-size: 26px;
    font-weight: 800;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.container-three {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 100px, solid, white;
    border-radius: 120px;
    overflow: hidden;
    align-items: center;
    gap: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.call-to-action {
    color: #f9faf8;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.sign-up-please {
    color: #f9faf8;
    font-family: "Roboto", sans-serif;
}

.button2{
    background-color: #3882f6;
    border: #f9faf8, solid 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}